body {
  max-width: 300px;
  padding-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table {
  width: 270px;
  max-width: 270px;
  margin-top: 10px;
  overflow: hidden;
  margin-bottom: 10px!important;
}
.container {
  padding-right: 10px!important;
  padding-left: 10px!important;
}
.btnBox {
  position: relative;
}
.btnBox .btn {
  margin: 0 3px;
}
td {
  overflow: hidden;
  position: relative;
  width: 254px;
  max-width: 254px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
td label {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
td input {
  position: relative;
  top: 1px;
}
td button {
  position: absolute;
  z-index: 1;
  display: none;
}
td .remove {
  top: 9px;
  right: 2px;
  display: none;
}
td .edit {
  top: 9px;
  right: 45px;
  display: none;
}
td:hover .edit,
td:hover .remove {
  display: block;
}
.editBox {
  padding-top: 10px;
}
.errorMsg {
  text-align: center;
  color: red;
}
